.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

#bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}