.rendu {
    color:lightgreen;
    border:2px solid green;
}

.nonRendu {
    color:lightcoral;
    border:2px solid red;
}

.important {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
}

.ajout-btn {
    align-self: flex-end
}

.pagination-info {
  margin: 20px 0;
  text-align: center;
  font-weight: bold;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.pagination-controls button {
  min-width: 120px;
}